.jumbotron {
font-size: 48px;
}

span.glyphicon-list {
    font-size: 36px;
    padding-right: 5px;
}

span.glyphicon-question-sign {
    font-size: 36px;
    padding-right: 5px;
}

span.glyphicon-user {
    font-size: 36px;
    padding-right: 5px;
    
}

span.glyphicon-plus {
    font-size: 36px;
    padding-right: 5px;
}

.row {
    display: inline;
    }